[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pygame = "*"
numpy = "*"
torch = "==1.8.1"
#tensorboard = "*"
setuptools = "==59.5.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
